<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
  <p>
    Dear Amazon WorkSpaces User,

    A new Amazon WorkSpace has been provided for you. Follow the steps below to quickly get up and running with your WorkSpace:

    1. Download and install a WorkSpaces Client for your favorite devices: https://clients.amazonworkspaces.com/

    2. Launch the client and enter the following registration code: #REGISTRATIONCODE#

    3. Login with your password. Your username is #USERNAME#

    If you have any issues connecting to your WorkSpace, please contact your administrator.

    Sincerely,

    Amazon WorkSpaces
  </p>
</body>
</html>